.nav {
    background-color: white;
    z-index: 999;
    position: fixed;
    width: 100%;
}

.logo {
    color: black;
}

.container {
}

.content {
    padding-top: 200px;
}

button {
    width: 100%;
}

.container>h1 {
    text-align: center;
    color: white;
    background-color: #007BFF;
    transform: translate(0, 1em);
    padding-top: 10px;
    padding-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.contacts {
    text-align: center;
}

.contacts>a>button {
    margin: 10px;
    width: auto;
}