<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mikhail Pirahouski</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Materials
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#github-actions-material">About GitHub Actions</a></li>
              <li><a class="dropdown-item" href="#hackathon-material">Hackathons</a></li>
              <li><a class="dropdown-item" href="#vs-extension-material">Visual Studio Extensions</a></li>
              <li><a class="dropdown-item" href="#chat-bot-material">Chat Bot developing</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Code & Projects
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#lord-of-time-project">Lord of Time</a></li>
              <li><a class="dropdown-item" href="#vs-extension-project">Visual Studio Extension</a></li>
              <li><a class="dropdown-item" href="#chat-bot-project">Chat Bot</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>